@charset "ISO-8859-1";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/**********************************************/
body{
	background: linear-gradient(120deg,darkblue,paleturquoise);/*Bdarkblue ,blue y azure*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Helvetica", sans-serif;
	color:aliceblue;
	
}
h1.Login{
	margin-top: 10%;
	text-align: center;
	color:aliceblue;
}
.Login{
	text-align: center;
	color:aliceblue;
    margin:5% 30%;
    max-width: 50%;
    max-height: 50%;
    padding-bottom:40px ;
    text-align: center;
}
.Login > i{
	display: block;
    text-align: left;
	font-size: 40px;
	margin-right:auto;
	text-align: center;
}

 input.Ingreso{
	text-align: center;
	background: transparent;
	width: 200px;
	height: 20px;
	border: none;
	font-size: 18px;
	padding: 0 15;
	border-bottom: 2px solid #fff;
	color:#ffff;
	outline:none;
}
label.Ingreso{
	top:50%;
	left:15px;
	transform: translateY(-50);
	color:#fff;
	font-size: 19px;
	pointer-events: none;
	transition: .3s;
	}
.boton{
	background-color: darkblue;
	color:#fff;
	width: 200px;
	height: 40px;
	background: transparent;
	border: none;
	
}
.boton:hover{
	color: aliceblue; 
	background-color: #3156B9;
	border-radius: 10px;
} 
/*************************************************************/
h1.Menu{
	text-align: center;
	padding:30px;
	margin:0%;
	font-size: 50px;
}
div.Menu > label{
	text-align: left;
	font-size: 40px;
	margin-right:20px;
	float: letf
}
.Cuentas {
	font-size: 30px;
	text-align: center;
	float: right;
	padding: 0px 20px;
}
div.Menu-iconos{
	background:transparent;
	font-size: 30px;
	padding: 10px 40px;
	height: 350px;
	width: 1300px;
	margin:100px auto;
}
input.Menu-iconos{
font-size: 30px;
padding: 10px 40px;
height: 50px;
width: 1000px;
}
h2.Menu-iconos{
font-size: 30px;
padding: 10px 40px;
height: 30px;
width: 926px;
margin:0px auto;
border-radius: 15px;
background-color:darkblue ;
}
.Menu > i{
	display: inline;
    text-align: left;
	font-size: 40px;
	margin-right:20px;
	float: letf
}
.Menu-iconos > i{
	text-align: center;
	display: inline-block;
	background:transparent;
	padding: 20px 40px;
	margin: 20px;
	border: 2px solid blanchedalmond;
	border-radius: 25px;
}
.Menu-iconos > i:hover{
	background-color:darkblue ;
}
table.Menu-iconos{
	font-size: 30px;
    padding: 10px 40px;
    height: 50px;
    border: none;
    width: 1000px;
    margin: auto;
    border-collapse: collapse;
}
